<body>
    <div id="content">
      <div class="phone">
        <div class="screen">
          <div class="top">
            <div class="dock-left">
              <span class="clock">22:45</span>
            </div>     
          </div>
  
          <div class="container">
            <div class="back-icon">
              <a class="button-back" (click)="goToInicio()"> 
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="0 0 219.151 219.151" style="enable-background:new 0 0 219.151 219.151;" xml:space="preserve">
             <g>
               <path d="M109.576,219.151c60.419,0,109.573-49.156,109.573-109.576C219.149,49.156,169.995,0,109.576,0S0.002,49.156,0.002,109.575
                 C0.002,169.995,49.157,219.151,109.576,219.151z M109.576,15c52.148,0,94.573,42.426,94.574,94.575
                 c0,52.149-42.425,94.575-94.574,94.576c-52.148-0.001-94.573-42.427-94.573-94.577C15.003,57.427,57.428,15,109.576,15z"/>
               <path d="M94.861,156.507c2.929,2.928,7.678,2.927,10.606,0c2.93-2.93,2.93-7.678-0.001-10.608l-28.82-28.819l83.457-0.008
                 c4.142-0.001,7.499-3.358,7.499-7.502c-0.001-4.142-3.358-7.498-7.5-7.498l-83.46,0.008l28.827-28.825
                 c2.929-2.929,2.929-7.679,0-10.607c-1.465-1.464-3.384-2.197-5.304-2.197c-1.919,0-3.838,0.733-5.303,2.196l-41.629,41.628
                 c-1.407,1.406-2.197,3.313-2.197,5.303c0.001,1.99,0.791,3.896,2.198,5.305L94.861,156.507z"/>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             <g>
             </g>
             </svg> </a>
              <a class="bankito-back"> BANKito </a>
              <a class="profile"><svg aria-hidden="true" data-prefix="fas" data-icon="address-card" class="svg-inline--fa fa-address-card fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M528 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h480c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-352 96c35.3 0 64 28.7 64 64s-28.7 64-64 64-64-28.7-64-64 28.7-64 64-64zm112 236.8c0 10.6-10 19.2-22.4 19.2H86.4C74 384 64 375.4 64 364.8v-19.2c0-31.8 30.1-57.6 67.2-57.6h5c12.3 5.1 25.7 8 39.8 8s27.6-2.9 39.8-8h5c37.1 0 67.2 25.8 67.2 57.6v19.2zM512 312c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-64c0 4.4-3.6 8-8 8H360c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z"></path></svg></a>
            </div>
            <div class="saldo">
              <div class="small">
              SALDO <br>
            </div>
            R$ {{saldo}}
              <div class="small">
             Entrada do mês: R$ 11.500,00   <br>   Saída do mês: R$ 3.500,00
            </div>
            </div>
            <hr>
            <div class="transf">
              <div class="text-transf">
              Transferências <br> 

              <div>
                <a class="button-transf" (click)="goToTransf()"> <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
               <circle style="fill:#43B05C;" cx="25" cy="25" r="25"/>
               <line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="25" y1="13" x2="25" y2="38"/>
               <line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="37.5" y1="25" x2="12.5" y2="25"/>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               <g>
               </g>
               </svg> </a>
               </div>

              <small>Realize suas Transferências por PIX, TED, etc</small>
            </div>
            </div>
            <hr>

            <div class="historico">
              <div class="text-historico">
              <div class="extrato-text">
              Extrato 
            </div>
              <div class="dropdown-position">
                <div class="dropdown">
                  <button class="dropbtn">{{data}}</button>
                  <div class="dropdown-content">
                    <a (click)="setarFiltroInicioRsRs()">Desde o início</a>
                    <a (click)="setarFiltroEsteMesRsRs()">Este mês</a>
                    <a (click)="setarFiltro3MesesRsRs()">3 meses</a>
                  </div>
                </div>
              </div><br>

              <table>
                <thead>
                    <th class="n-text-hist">nº</th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <th class="valor-text-hist">Valor</th>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <th class="conta-text-hist">Conta</th>
                </thead>
                <tbody>
                    <tr *ngFor="let filtro of filtros; let i = index">
                        <td >{{i}}</td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <td >R$ {{filtro.valor}}</td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        <td >{{filtro.conta}}</td>
                    </tr>
                </tbody>
            </table>

            </div>
            </div>

          </div>
         
        </div>
      </div>
    </div>
  </body>