<body>
    <div id="content">
      <div class="phone">
        <div class="screen">
          <div class="top">
            <div class="dock-left">
              <span class="clock">22:45</span>
            </div>     
          </div>
  
          <div class="container">
            <div class="back-icon">
              <a class="button-back" (click)="goToInicio()"> <=== </a>
              <a class="bankito-back" (click)="goToInicio()"> BANKito </a>
              <a class="profile">:)</a>
            </div>
            <div class="saldo">
              <div class="small">
              SALDO <br>
            </div>
            R$ 7.700,00
              <div class="small">
             Entrada do mês: R$ 11.500,00   <br>   Saída do mês: R$ 3.500,00
            </div>
            </div>
            <hr>
            <div class="transf">
              <div class="text-transf">
              Transferências <br> 

              <div>
                <a class="button-transf" (click)="goToTransf()"> |+| </a>
               </div>

              <small>Realize suas Transferências por PIX, TED, etc</small>
            </div>
            </div>
            <hr>

            <div class="historico">
              <div class="text-historico">
              Extrato <br> 

              <small>Transferência recebida &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; R$ 150,00</small>
              <hr>
              <small>Transferência realizada &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; R$ 170,00</small>
              <hr>
              <small>Transferência reebida &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; R$ 250,00</small>
              <hr>
              <small>Transferência realizada &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; R$ 30,00</small>
              <hr>
              <small>Transferência recebida &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; R$ 990,00</small>
            </div>
            </div>

          </div>
         
        </div>
      </div>
    </div>
  </body>