<body>
  <div id="content">
    <div class="phone">
      <div class="screen">
        <div class="top">
          <div class="dock-left">
            <span class="clock">22:45</span>
          </div>
          <div class="dock">
            <div class="sensor"></div>
            <div class="speaker"></div>
            <div class="camera"></div>
          </div>
          <div class="dock-right">
            <div class="signal"><i class="fas fa-signal"></i></div>
            <div class="wifi"><i class="fas fa-wifi"></i></div>
            <div class="battery"><i class="fas fa-battery"></i></div>
          </div>
        </div>

        <div class="container">
          <div class="texto-top">
            BANK<br> &nbsp; ito
          </div>
          <div class="titulo-incio">
              <p class="text-inicio">O melhor e mais <br><span class="completo">Completo</span> <br> banco digital<br> seguro e <br><span class="tarifas">Sem Tarifas</span><br> feito para você!</p>
            </div>
            <div>
                <a class="button-inicio" (click)="goToLogin()"> Iniciar</a>
            </div>
        </div>
       
      </div>
    </div>
  </div>
</body>